<!DOCTYPE html>
<html lang="en">

<head>
    <title>URL Shortener Microservice</title>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="header">URL Shortener Microservice</h1>

    <h3>Example creation usage:</h3>
    <code>https://surly.glitch.me/new/https://www.google.com</code>

    <h3>Example creation output:</h3>
    <code>{ "original_url":"https://www.google.com", "short_url":"https://surly.glitch.me/2" }</code>

    <h3>Usage:</h3>
    <code>https://surly.glitch.me/1</code> will redirect to <code>https://www.google.com</code>
</body>

</html>